//
   Created by p2admin on 3/20/2016.

include INDEX.html
// NOTE: heroku background might be linux server.
// Sadly, the file in github is INDEX.html and didn't distinguish from my local repo index.html
// which means I can't push INDEX.html to replace index.html in git
// So I changed the file name here into INDEX.html
// The problem is sovled in this way.

